html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


body {
    color: #2F3035;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-weight: 700;
}

.menu__item {
    display: inline-block;
}

.menu__item+.menu__item {
    margin-left: 50px;
}


.header__top-right {
    display: flex;
    align-items: center;
}

.header__adress {
    width: 265px;
    margin-right: 60px;
    padding-left: 30px;
    position: relative;
}

.header__adress-icon {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 30px;
    height: 30px;

}



.header__top-right-list {
    display: flex;
    align-items: center;
    margin-right: 15px;

}

.header__top-right-item {
    padding-right: 10px;
}

.header__top-right-item.basket {
    position: relative;
}

.header__top-right-item-count {
    position: absolute;
    top: 9px;
    right: -6px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #1C62CD;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
}


.menu__categories {
    background-color: #F0F0F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 15px;
    font-weight: 400;
    min-height: 53px;
}

.menu__categories-subitem {
    position: relative;
    padding: 15px 0 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__categories-sublink {
    position: absolute;
    top: 0;
    /* padding-bottom: 25px; */
    transition: all 0.3s;
}

.menu__categories-sublink::before {
    content: '';
    position: absolute;
    top: 49px;
    left: auto;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #1C62CD;
    transition: all 0.3s;
}

.menu__categories-sublink:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

.menu__categories-sublink:hover {
    font-weight: 600;
}